@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: poppins, sans-serif
}

.imagen {
    position: absolute;
    right: 1em;
    top: 5em;
    border-radius: 1em;
    border: 0.2em solid black;
}

h1 {
    font-size: xx-large;
}

.backBtn {
    background-color: rgb(189, 80, 199);
    font-family: poppins, sans-serif;
    border: 3px solid rgb(189, 80, 199);
    border-radius: 0.5em;
    font-size: large;
    padding: 0.3em;
    margin: 0.5em;
    color: white;
    cursor: pointer;
}
.backBtn:hover {
    border: 3px solid rgb(189, 80, 199);
    background-color: white;
    color: rgb(30, 30, 30);
    border-radius: 0.5em;
    font-size: large;
    padding: 0.3em;
    margin: 0.5em;
}